.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #d0e2fe;
  height: 56rem;
}

.contactNav {
  background-color: black;
  color: white;
  height: 3rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}

.contact img {
  width: 20px;
}

.phone,
.email {
  display: flex;
  align-items: center;
  gap: 3px;
}

.navSection {
  display: flex;
  position: relative;
  top: -3%;
}

.logo,
.navbar {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  font-family: lato, sans-serif;
  font-size: 1rem;
  gap: 55px;
  position: relative;
  left: 640px;
}

.navList :hover {
  color: #0355cc;
  cursor: pointer;
}

.slidder {
  position: absolute;
  left: 52%;
}

.slidder img {
  margin-top: -60px;
  width: 530px;
}

.ggoldHeading {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 40px;
}

.repair {
  font-size: 2.5rem;
  font-family: lato, sans-serif;
  font-weight: 900;
  color: #0355cc;
}

.details {
  margin-top: 30px;
  line-height: 22px;
}

.ggoldHeading button {
  background-color: #fb8a1d;
  width: 190px;
  padding: 15px;
  font-size: 1rem;
  color: white;
  margin-top: 30px;
  border-radius: 5px;
  border: solid #d0e2fe 1px;
  transition: all 0.3s ease-in-out;
}

.ggoldHeading button:hover {
  background-color: #d0e2fe;
  border: solid #fb8a1d 1px;
  color: #fb8a1d;
  cursor: pointer;
}

.threeSquare {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 18.5%;
  height: 200px;
}

.repairSquare,
.improveSquare,
.maintainSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 360px;
  height: 220px;
  background-color: #ffffff;
  color: #0355cc;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;
  transition: all 0.3s ease-in-out;
}

.repairSquare img,
.improveSquare img,
.maintainSquare img {
  margin-bottom: 15px;
}

.improveSquare {
  background-color: #fb8a1d;
  color: #ffffff;
}

.repairSquare:hover,
.maintainSquare:hover {
  background-color: #fb8a1d;
  cursor: pointer;
}

.aboutUs {
  display: flex;
  /* height: 56rem; */
  position: relative;
  top: 35%;
}
